:root {
    --rey-color: #005678;
    --rey-scolor: #ff6600;
    --rey-putih: #ffffff;
    --rey-silver: #C0C0C0;
    --border-color: #DEE2E6;
    --rey-red: #FF0000;
}

.bg-rey {
    background-color: var(--rey-color);
    color: var(--rey-putih)
}

.bg-rey a {
    color: var(--rey-putih) !important
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 60px;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--rey-putih);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.light-mode .line {
    stroke: #353535;
}

.rg-ham .top {
    stroke-dasharray: 40 172;
}

.rg-ham .middle {
    stroke-dasharray: 40 111;
}

.rg-ham .bottom {
    stroke-dasharray: 40 172;
}

.rg-ham.active .top {
    stroke-dashoffset: -132px;
}

.rg-ham.active .middle {
    stroke-dashoffset: -71px;
}

.rg-ham.active .bottom {
    stroke-dashoffset: -132px;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.rey-img {
    width: 120px;
    height: 64px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--rey-silver);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.29);
}

table {
    overflow: hidden;
    border-radius: 8px !important
}

td {
    padding: 5px;
    vertical-align: middle !important;
    padding: 10px 20px !important
}

th {
    padding: 5px;
    background-color: var(--rey-silver) !important;
    padding: 10px 20px !important
}

.rey-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nav-item {
    margin-left: 40px !important
}

.navbar-brand:hover,
.navbar-brand:hover .logo-svg {
    color: var(--rey-scolor) !important;
    fill: var(--rey-scolor) !important;
    transition: all 0.6s;
}

.nav-link {
    position: relative;
    padding: 0 !important;
    margin: 0 !important
}

.nav-link::after {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--rey-scolor);
    transition: all 0.6s;
}

.nav-link:hover {
    color: var(--rey-scolor) !important;
    transition: all 0.6s;
}

.nav-link:hover::after {
    width: 100%;
    transition: all 0.6s;
}

.logo-svg {
    width: 30px;
    height: auto;
    margin-right: 5px;
    margin-top: -4px;
    fill: var(--rey-putih)
}

.select-thumbnail {
    width: 60px !important;
    max-height: 30px !important;
    margin-right: 10px;
}

.select2-dropdown {
    z-index: 100000000 !important;
}

[class^='select2'] {
    border-color: var(--border-color) !important;
    min-height: 40px !important;
    border-radius: 5px !important;
    align-items: center;
    padding-top: 2px;
}

.card {
    margin: 40px 0;
    padding: 20px;
}

.rey___div {
    margin: 40px 0;
}

.error {
    background-color: var(--rey-red);
    color: var(--rey-putih);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
}

.error p {
    margin: 0;
    margin: 10px;
}

#product-list ul {
    margin: 20px 0;
    background-color: var(--rey-silver);
    border-radius: 8px;
    list-style: none;
    padding: 10px;
}

.pre {
    background-color: var(--border-color);
    padding: 20px;
}

.ket {
    background-color: var(--rey-color);
    color: var(--rey-putih);
    padding: 20px;
    margin: 20px 0;
    font-style: italic;
}

@media (max-width: 600px) {
    .hide-hp {
        display: none;
    }

}